* {
  box-sizing: border-box;
}

.frame39 {
  position: relative;
  border-radius: 16px 16px 0px 0px;
  background: var(--bg-color, #0c0c16);
  width: 414px;
  height: 791px;
  overflow: hidden;

  .frame20360958401 {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    overflow: hidden;
  }

  .frame4 {
    flex-shrink: 0;
    width: 12px;
    height: 12px;
    overflow: hidden;
  }

  .instance {
    display: flex;
    position: absolute;
    top: 79px;
    left: 72px;
    align-items: flex-start;
    padding-top: 209px;
    padding-bottom: 74px;
    width: 270px;
    height: 410px;
    overflow: hidden;

    .frame {
      display: flex;
      flex-grow: 1;
      align-items: center;
      margin-right: -2px;
      margin-left: -10px;
      padding: 22px 5px;
      rotate: 29deg;

      .a92A5465945A447C2Da6 {
        width: 272px;
        height: 82px;
        rotate: 10deg;
        filter: blur(12px);
      }
    }
  }

  .frame23 {
    display: flex;
    position: absolute;
    top: -42px;
    left: 0;
    align-items: center;
    background: var(--bg-color, #0c0c16);
    width: 414px;
    height: 478px;
    overflow: hidden;

    .frame2036095795 {
      position: relative;
      margin-left: -48px;
      width: 509px;
      height: 478px;

      .a222 {
        display: flex;
        position: absolute;
        top: 40px;
        left: 48px;
        align-items: flex-start;
        justify-content: space-between;
        padding: 18px 116px 312px 12px;
        width: 414px;
        height: 390px;
        background-image: url(../image/mevd4ekg-tdrd1ys.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        .aIcon2 {
          position: relative;
          width: 40px;
          height: 40px;
          overflow: hidden;

          .frame2 {
            position: absolute;
            top: 1px;
            left: 2px;
            width: 36px;
            height: 36px;

            .vector {
              position: absolute;
              top: 2px;
              left: 2px;
              opacity: 0.5;
              border-radius: 50%;
              box-shadow: inset 0px 2px 1px 0px #5215ff68;
              background: #474859;
              width: 33px;
              height: 33px;
            }

            .vector4 {
              display: flex;
              position: absolute;
              top: 2px;
              left: 2px;
              align-items: center;
              border-radius: 50%;
              width: 33px;
              height: 33px;

              .vector3 {
                display: flex;
                flex-grow: 1;
                align-items: center;
                border-radius: 50%;

                .vector2 {
                  border-radius: 50%;
                  width: 33px;
                  height: 33px;
                }
              }
            }
          }

          .group2036088409 {
            position: absolute;
            top: 4px;
            left: 3px;
            width: 36px;
            height: 25px;

            .frame3 {
              position: absolute;
              top: 1px;
              left: 1px;
              width: 29px;
              height: 21px;
              rotate: 6deg;
            }

            .star2 {
              position: absolute;
              top: 14px;
              left: 26px;
              width: 8px;
              height: 10px;
              rotate: 20deg;
            }

            .star3 {
              position: absolute;
              top: 4px;
              left: 1px;
              width: 6px;
              height: 7px;
              rotate: -1deg;
            }
          }

          .vector5 {
            display: flex;
            position: absolute;
            top: 25px;
            right: 3px;
            left: 3px;
            align-items: center;
            padding: 2px 3px 3px;
            width: 34px;
            height: 14px;
            background-image: url(../image/mevd4ekg-nwlncax.svg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;

            .text {
              line-height: 10px;
              letter-spacing: 0;
              color: var(--main-color, #ffdfbf);
              font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 7px;
              font-weight: 600;
            }
          }
        }

        .frame2036095790 {
          display: flex;
          align-items: center;
          column-gap: 1px;
          margin-top: 46px;
          box-shadow: 0px 4px 4px 0px #01053740;

          .text2 {
            flex-shrink: 0;
            line-height: 14px;
            letter-spacing: 0;
            color: var(--white-color, #ffffff);
            font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 10px;
          }

          .frame2036095785 {
            display: inline-flex;
            flex-shrink: 0;
            align-items: center;

            .text3 {
              flex-shrink: 0;
              line-height: 14px;
              letter-spacing: 0;
              color: var(--white-color, #ffffff);
              font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 10px;
              font-weight: 500;
              text-shadow: 0px 4px 4px #00000026;
            }
          }
        }
      }

      .frame13 {
        display: flex;
        position: absolute;
        top: 265px;
        left: 48px;
        flex-direction: column;
        align-items: center;
        padding: 67px 12px 6px;
        width: 414px;
        height: 213px;
        background-image: linear-gradient(
          180deg,
          #12121a00 2.58%,
          #0c0c16 69.25%
        );

        .text5 {
          flex-shrink: 0;
          line-height: 14px;
          letter-spacing: 0;
          color: var(--white-color, #ffffff);
          font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 10px;
          font-weight: 500;
        }

        .frame2036095762 {
          display: flex;
          align-items: center;
          justify-content: center;
          column-gap: 1px;
          border-radius: 100px;
          background: var(--Linear);
          padding-right: 30px;
          padding-left: 30px;
          width: 136px;
          height: 26px;
          background-image: linear-gradient(
            259.18deg,
            #44445a 0%,
            #242528 100%
          );

          .text4 {
            flex-shrink: 0;
            line-height: 14px;
            letter-spacing: 0;
            color: var(--main-color, #ffdfbf);
            font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 10px;
            font-weight: 500;
          }

          .autoWrapper {
            position: relative;
            flex-shrink: 0;
            width: 16px;
            height: 16px;

            .image5731 {
              display: flex;
              position: absolute;
              top: 0;
              left: 0;
              align-items: center;
              width: 16px;
              height: 16px;
              overflow: hidden;
              rotate: -180deg;

              .image5732 {
                width: 16px;
                height: 16px;
                rotate: 180deg;
              }
            }
          }
        }

        .frame2036095781 {
          display: flex;
          flex-wrap: wrap;
          align-content: center;
          align-items: center;
          align-self: stretch;
          column-gap: 10px;
          margin-top: 8px;
          row-gap: 10px;

          .frame2036095709 {
            display: flex;
            position: absolute;
            top: 78px;
            left: 0;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            column-gap: 1px;
            border-radius: 0px 0px 7px 7px;
            background: var(--Linear);
            padding: 6px 32px;
            width: 88px;
            height: 26px;
            background-image: linear-gradient(
              89.48deg,
              #ffe8be 0.13%,
              #fecfa4 102.24%
            );

            .a400 {
              flex-shrink: 0;
              line-height: 14px;
              letter-spacing: 0;
              color: var(--button-text, #571818);
              font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 10px;
              font-weight: 500;
            }

            .frame2036095693 {
              display: inline-flex;
              flex-shrink: 0;
              align-items: center;
              column-gap: 1px;
            }
          }

          .frame2036095763 {
            display: flex;
            position: absolute;
            top: 79px;
            left: 0;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            column-gap: 1px;
            border-radius: 0px 0px 8px 8px;
            background: var(--Linear);
            padding: 6px 32px 6px 31px;
            width: 90px;
            height: 27px;
            background-image: linear-gradient(
              253.3deg,
              #44445a 0%,
              #242528 100%
            );

            .a40 {
              flex-shrink: 0;
              opacity: 0.7;
              line-height: 14px;
              letter-spacing: 0;
              color: var(--white-color, #ffffff);
              font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 10px;
              font-weight: 500;
            }

            .frame20360956932 {
              display: inline-flex;
              flex-shrink: 0;
              align-items: center;
              column-gap: 1px;

              .image57312 {
                display: flex;
                flex-shrink: 0;
                align-items: center;
                overflow: hidden;

                .image57322 {
                  width: 16px;
                  height: 16px;
                  rotate: -180deg;
                }
              }
            }
          }

          .instance2 {
            display: flex;
            position: relative;
            flex-direction: column;
            flex-shrink: 0;
            align-items: center;
            border-radius: 8px;
            background: #8183ff47;
            padding-top: 4px;
            padding-bottom: 8px;
            width: 90px;
            height: 106px;
            row-gap: 2px;

            .frame6 {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              align-self: stretch;
              margin-right: 17px;
              margin-left: 17px;
              padding: 6px 3px;
              overflow: hidden;

              .frame5 {
                width: 50px;
                height: 44px;
              }
            }
          }

          .frame9 {
            display: flex;
            position: relative;
            flex-direction: column;
            flex-shrink: 0;
            align-items: center;
            border-radius: 8px;
            background: #8183ff47;
            padding-top: 4px;
            padding-bottom: 8px;
            width: 90px;
            height: 106px;
            row-gap: 2px;
            backdrop-filter: blur(1px);

            .frame8 {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              align-self: stretch;
              z-index: 1;
              margin-right: 17px;
              margin-left: 17px;
              padding: 3px 1px;
              overflow: hidden;

              .frame7 {
                width: 54px;
                height: 50px;
              }
            }

            .text6 {
              flex-shrink: 0;
              z-index: 2;
              line-height: 14px;
              letter-spacing: 0;
              color: var(--white-color, #ffffff);
              font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 10px;
              font-weight: 500;
            }
          }

          .instance4 {
            display: flex;
            position: relative;
            flex-direction: column;
            flex-shrink: 0;
            align-items: center;
            border-radius: 8px;
            background: #f2f2ff1a;
            padding-top: 4px;
            padding-bottom: 8px;
            width: 90px;
            height: 106px;
            row-gap: 2px;

            .instance3 {
              display: flex;
              flex-shrink: 0;
              align-items: flex-start;
              padding-top: 8px;
              padding-left: 5px;
              width: 56px;
              height: 56px;
              overflow: hidden;

              .image1201 {
                width: 57px;
                height: 57px;
              }
            }
          }

          .frame12 {
            display: flex;
            position: relative;
            flex-direction: column;
            flex-shrink: 0;
            align-items: center;
            border-radius: 8px;
            background: #f2f2ff1a;
            padding-top: 4px;
            padding-bottom: 8px;
            width: 90px;
            height: 106px;
            row-gap: 2px;
            backdrop-filter: blur(1px);

            .frame11 {
              display: flex;
              flex-shrink: 0;
              align-items: flex-start;
              align-self: stretch;
              margin-right: 17px;
              margin-left: 17px;
              padding: 5px 6px 3px 2px;
              overflow: hidden;

              .frame10 {
                width: 48px;
                height: 48px;
              }
            }
          }
        }
      }

      .frame22 {
        display: inline-flex;
        position: absolute;
        top: 58px;
        left: 392px;
        flex-direction: column;
        align-items: flex-end;
        width: 62px;
        height: 243px;
        row-gap: 12px;

        .instance8 {
          display: inline-flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-end;
          align-self: stretch;
          row-gap: 6px;

          .text7 {
            position: absolute;
            top: 23px;
            left: 18px;
            width: 16px;
            height: 14px;
            text-align: center;
            letter-spacing: 0;
            color: #c83c48;
            font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 10px;
            font-weight: 600;
          }

          .instance5 {
            display: flex;
            position: absolute;
            top: 51px;
            left: 0;
            align-items: center;
            padding: 1px;
            width: 62px;
            height: 24px;
            overflow: hidden;

            .rectangle2 {
              display: flex;
              flex-grow: 1;
              align-items: center;
              border-radius: 11px;
              box-shadow: inset 0px 0px 1px 0px #c3000080,
                inset 0px 1px 4px 0px #ff1a6c80;
              background-image: linear-gradient(
                155.53deg,
                #ff9a61 -24.28%,
                #ff5757 16.98%,
                #ffae68 66.77%
              );

              .rectangle {
                display: flex;
                flex-grow: 1;
                align-items: center;
                justify-content: space-between;
                border-radius: 11px;
                padding: 4px 6px 4px 4px;
                width: 60px;
                min-width: 60px;
                height: 22px;

                .frame16 {
                  outline-width: 1px;
                  outline-style: solid;
                  outline-color: #fff9f166;
                  border-radius: 50%;
                  width: 15px;
                  height: 15px;
                }

                .text8 {
                  width: 33px;
                  line-height: 12px;
                  letter-spacing: 0;
                  color: var(--white-color, #ffffff);
                  font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                  font-size: 10px;
                  font-weight: 500;
                }
              }
            }
          }

          .instance6 {
            position: relative;
            flex-shrink: 0;
            width: 62px;
            height: 75px;

            .frame15 {
              display: flex;
              position: absolute;
              top: 0;
              left: 4px;
              align-items: center;
              padding-right: 1px;
              padding-left: 1px;
              width: 54px;
              height: 66px;
              overflow: hidden;

              .frame14 {
                position: relative;
                width: 53px;
                height: 66px;
                background-image: url(../image/mevd4ekg-pq6qihv.png);
                background-position: 0px 0px;
                background-size: 100% 100%;
                background-repeat: no-repeat;
              }
            }
          }

          .instance7 {
            position: relative;
            flex-shrink: 0;
            width: 62px;
            height: 75px;

            .frame18 {
              display: flex;
              position: absolute;
              top: 0;
              left: 4px;
              align-items: center;
              padding-right: 1px;
              padding-left: 1px;
              width: 54px;
              height: 66px;

              .frame17 {
                position: relative;
                width: 53px;
                height: 66px;
                background-image: url(../image/mevd4ekg-7qkak7q.png);
                background-position: 0px 0px;
                background-size: 100% 100%;
                background-repeat: no-repeat;
              }
            }
          }
        }

        .frame21 {
          display: flex;
          position: relative;
          flex-direction: column;
          flex-shrink: 0;
          align-items: center;
          width: 62px;
          height: 75px;

          .frame20 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            margin-right: 4px;
            margin-left: 4px;
            padding: 1px 3px 1px 2px;
            overflow: hidden;

            .frame19 {
              display: flex;
              flex-grow: 1;
              align-items: flex-start;
              padding: 11px 7px 19px 9px;
              background-image: url(../image/mevd4ekg-5e1t2fm.png);
              background-position: center;
              background-size: cover;
              background-repeat: no-repeat;

              .text9 {
                width: 33px;
                text-align: right;
                line-height: 17px;
                letter-spacing: 1px;
                color: #fffefd;
                font-family: MFYuanHei, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 16px;
              }
            }
          }

          .instance9 {
            display: flex;
            position: absolute;
            top: 51px;
            left: 0;
            flex-shrink: 0;
            align-items: center;
            margin-top: -15px;
            padding: 1px;
            width: 62px;
            height: 24px;
            overflow: hidden;

            .rectangle4 {
              display: flex;
              flex-grow: 1;
              align-items: center;
              border-radius: 11px;
              box-shadow: inset 0px 0px 1px 0px #c3000080,
                inset 0px 1px 4px 0px #ff1a6c80;
              background-image: linear-gradient(
                155.53deg,
                #ff9a61 -24.28%,
                #ff5757 16.98%,
                #ffae68 66.77%
              );

              .rectangle3 {
                display: flex;
                flex-grow: 1;
                align-items: center;
                border-radius: 11px;
                padding: 5px 10px;

                .text10 {
                  line-height: 12px;
                  letter-spacing: 0;
                  color: var(--white-color, #ffffff);
                  font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                  font-size: 10px;
                  font-weight: 500;
                }
              }
            }
          }
        }
      }
    }
  }

  .frame20360957802 {
    display: flex;
    position: absolute;
    top: 440px;
    left: 0;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
    background: var(--bg-color, #0c0c16);
    width: 414px;
    height: 313px;
    row-gap: 10px;

    .text20 {
      flex-shrink: 0;
      line-height: 17px;
      letter-spacing: 0;
      color: var(--main-color, #ffdfbf);
      font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 12px;
      font-weight: 500;
    }

    .frame203609584013 {
      flex-shrink: 0;
      width: 20px;
      height: 20px;
      overflow: hidden;
    }

    .text19 {
      flex-shrink: 0;
      opacity: 0.8;
      line-height: 17px;
      letter-spacing: 0;
      color: var(--white-color, #ffffff);
      font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 12px;
    }

    .instance12 {
      display: flex;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      padding-bottom: 4px;
      height: 59px;
      overflow: hidden;

      .frame35 {
        display: flex;
        flex-grow: 1;
        align-items: center;
        margin-top: -1px;
        padding-top: 1px;
        overflow: hidden;

        .miaobian2 {
          display: flex;
          flex-grow: 1;
          align-items: center;
          border-radius: 16px 16px 0px 0px;
          background-image: linear-gradient(0deg, #0c0c16 10%, #212133 100%);

          .miaobian1 {
            display: flex;
            flex-grow: 1;
            align-items: flex-start;
            justify-content: space-between;
            border-radius: 16px 16px 0px 0px;
            padding: 12px 12px 0px;
            width: 414px;
            min-width: 414px;

            .frame2036095739 {
              display: flex;
              align-items: center;
              column-gap: 8px;
              margin-top: 1px;
              width: 190px;

              .ellipse3294 {
                flex-shrink: 0;
                border-radius: 50%;
                background-color: #ffffff;
                width: 42px;
                height: 42px;
                background-image: url(../image/mevd4ekg-jjbtoo8.png);
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                filter: drop-shadow(0px 3px 3px #00000040);
              }

              .frame2036095738 {
                display: inline-flex;
                flex-direction: column;
                flex-shrink: 0;
                align-items: flex-start;
                row-gap: 4px;

                .frame2036095771 {
                  display: flex;
                  flex-shrink: 0;
                  align-items: center;
                  align-self: stretch;

                  .text11 {
                    flex-shrink: 0;
                    background: linear-gradient(
                      94.8deg,
                      #ffffff 0.39%,
                      #ffc4a3 95.45%
                    );
                    background-clip: text;
                    line-height: 16px;
                    letter-spacing: 0;
                    color: transparent;
                    font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                    font-size: 14px;
                    font-weight: 600;
                    -webkit-background-clip: text;
                  }
                }

                .frame2036095740 {
                  display: flex;
                  flex-shrink: 0;
                  align-items: center;
                  align-self: stretch;
                  column-gap: 4px;

                  .text12 {
                    flex-shrink: 0;
                    opacity: 0.8;
                    line-height: 14px;
                    letter-spacing: 0;
                    color: #ffe4d5;
                    font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                    font-size: 12px;
                  }

                  .frame2036095692 {
                    display: inline-flex;
                    flex-shrink: 0;
                    align-items: center;
                    column-gap: 1px;

                    .a150 {
                      flex-shrink: 0;
                      line-height: 20px;
                      letter-spacing: 0;
                      color: var(--main-color, #ffdfbf);
                      font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                      font-size: 14px;
                      font-weight: 500;
                    }

                    .frame203609584012 {
                      flex-shrink: 0;
                      width: 14px;
                      height: 14px;
                      overflow: hidden;
                    }
                  }

                  .frame20360956933 {
                    display: inline-flex;
                    flex-shrink: 0;
                    align-items: center;
                    column-gap: 1px;

                    .a140 {
                      flex-shrink: 0;
                      background: linear-gradient(
                        145.92deg,
                        #bad8ff 0%,
                        #fffbe5 61.45%,
                        #a3a6ff 107.45%
                      );
                      background-clip: text;
                      line-height: 20px;
                      letter-spacing: 0;
                      color: transparent;
                      font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                      font-size: 14px;
                      font-weight: 500;
                      -webkit-background-clip: text;
                    }
                  }
                }
              }
            }

            .frame2036095742 {
              display: inline-flex;
              align-items: center;
              column-gap: 6px;

              .text13 {
                line-height: 11px;
                letter-spacing: 0;
                color: var(--main-color, #ffdfbf);
                font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 8px;
                font-weight: 600;
              }

              .vector7 {
                display: flex;
                flex-grow: 1;
                align-items: center;
                border-radius: 50%;
                background-image: linear-gradient(
                  180deg,
                  #23e1ff00 29.55%,
                  #6665ff 86.36%
                );

                .vector6 {
                  border: 1px solid #53556c;
                  border-radius: 50%;
                  background: #2e2e41;
                  width: 32px;
                  height: 32px;
                }
              }

              .instance10 {
                position: relative;
                flex-shrink: 0;
                width: 42px;
                height: 42px;

                .vector8 {
                  display: flex;
                  position: absolute;
                  top: 1px;
                  left: 5px;
                  align-items: center;
                  border-radius: 50%;
                  width: 32px;
                  height: 32px;
                  background-image: linear-gradient(
                    180deg,
                    #23e1ff00 18.18%,
                    #6665ff 69.32%
                  );
                }

                .frame24 {
                  position: absolute;
                  top: -1px;
                  left: 7px;
                  width: 27px;
                  height: 31px;
                }

                .frame28 {
                  position: absolute;
                  top: 24px;
                  right: 2px;
                  left: 2px;
                  border-radius: 20px;
                  width: 38px;
                  height: 16px;
                  overflow: hidden;

                  .frame26 {
                    display: flex;
                    position: absolute;
                    top: 0;
                    right: 0;
                    left: 0;
                    align-items: center;
                    border-radius: 8px;
                    width: 38px;
                    height: 16px;
                    background-image: linear-gradient(90deg, #717eff 25.85%);

                    .frame25 {
                      border: 1px solid #000000;
                      border-radius: 8px;
                      width: 38px;
                      height: 16px;
                      background-image: linear-gradient(
                        178.51deg,
                        #6176ff 7.56%,
                        #4741ff 97.09%
                      );
                    }
                  }

                  .ellipse3263 {
                    position: absolute;
                    top: 11px;
                    left: 6px;
                    border-radius: 50%;
                    background: #b4e8ff;
                    width: 25px;
                    height: 17px;
                    filter: blur(5px);
                  }

                  .ellipse3264 {
                    position: absolute;
                    top: -16px;
                    left: 6px;
                    border-radius: 50%;
                    background: #f5fcff;
                    width: 25px;
                    height: 17px;
                    filter: blur(5px);
                  }

                  .frame27 {
                    display: flex;
                    position: absolute;
                    top: 0;
                    right: 0;
                    left: 0;
                    align-items: center;
                    border-radius: 8px;
                    padding: 3px 3px 2px;
                    width: 38px;
                    height: 16px;
                    background-image: linear-gradient(
                      247.17deg,
                      #515164 0%,
                      #242437 100%
                    );
                  }
                }
              }

              .instance11 {
                position: relative;
                flex-shrink: 0;
                width: 42px;
                height: 42px;

                .group1312333214 {
                  position: absolute;
                  top: -1px;
                  left: 5px;
                  width: 32px;
                  height: 35px;

                  .vector9 {
                    display: flex;
                    position: absolute;
                    top: 2px;
                    left: 0;
                    align-items: center;
                    border-radius: 50%;
                    width: 32px;
                    height: 32px;
                    background-image: linear-gradient(
                      180deg,
                      #23e1ff00 18.18%,
                      #6665ff 69.32%
                    );
                  }

                  .frame30 {
                    display: flex;
                    position: absolute;
                    top: 0;
                    left: 0;
                    align-items: center;
                    width: 32px;
                    height: 35px;
                    background-image: url(../image/mevd4ekg-cogppyw.png);
                    background-position: -14px -10px;
                    background-size: 188.54% 171.72%;
                    background-repeat: no-repeat;

                    .frame29 {
                      opacity: 0.3;
                      width: 32px;
                      height: 35px;
                    }
                  }

                  .image653 {
                    position: absolute;
                    top: 11px;
                    left: 12px;
                    width: 7px;
                    height: 8px;
                  }

                  .image655 {
                    position: absolute;
                    top: 7px;
                    left: 6px;
                    width: 7px;
                    height: 8px;
                  }

                  .image656 {
                    position: absolute;
                    top: 7px;
                    left: 19px;
                    width: 7px;
                    height: 8px;
                  }

                  .image654 {
                    position: absolute;
                    top: 6px;
                    left: 14px;
                    width: 4px;
                    height: 5px;
                  }
                }

                .frame34 {
                  position: absolute;
                  top: 24px;
                  right: 0;
                  left: 0;
                  border-radius: 20px;
                  width: 42px;
                  height: 16px;
                  overflow: hidden;

                  .frame32 {
                    display: flex;
                    position: absolute;
                    top: 0;
                    right: 0;
                    left: 0;
                    align-items: center;
                    border-radius: 8px;
                    width: 42px;
                    height: 16px;
                    background-image: linear-gradient(90deg, #717eff 25.85%);

                    .frame31 {
                      border: 1px solid #000000;
                      border-radius: 8px;
                      width: 42px;
                      height: 16px;
                      background-image: linear-gradient(
                        178.35deg,
                        #6176ff 8.09%,
                        #4741ff 96.49%
                      );
                    }
                  }

                  .ellipse32632 {
                    position: absolute;
                    top: 11px;
                    left: 8px;
                    border-radius: 50%;
                    background: #b4e8ff;
                    width: 25px;
                    height: 17px;
                    filter: blur(5px);
                  }

                  .ellipse32642 {
                    position: absolute;
                    top: -16px;
                    left: 8px;
                    border-radius: 50%;
                    background: #f5fcff;
                    width: 25px;
                    height: 17px;
                    filter: blur(5px);
                  }

                  .frame33 {
                    display: flex;
                    position: absolute;
                    top: 0;
                    right: 0;
                    left: 0;
                    align-items: center;
                    border-radius: 8px;
                    padding: 3px 5px 2px;
                    width: 42px;
                    height: 16px;
                    background-image: linear-gradient(
                      249.15deg,
                      #515164 0%,
                      #242437 100%
                    );
                  }
                }
              }
            }
          }
        }
      }
    }

    .frame2036095767 {
      display: flex;
      position: relative;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      margin-right: 12px;
      margin-left: 12px;
      border-radius: 8px;
      background: var(--partbg-color, #141522);
      padding: 8px 12px 12px;
      row-gap: 4px;

      .frame2036095753 {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        column-gap: 8px;
        margin-right: 30px;

        .instance13 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          padding: 6px;
          overflow: hidden;

          .image5737 {
            display: flex;
            flex-grow: 1;
            align-items: center;
            padding: 29px 16px 30px;
            background-image: url(../image/mevd4ekg-c54o1e0.png);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;

            .text14 {
              width: 44px;
              text-align: center;
              letter-spacing: 0;
              color: #764c2d;
              font-family: "Alibaba PuHuiTi 2.0", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 12px;
            }
          }
        }

        .frame2036095752 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          width: 240px;
          row-gap: 4px;

          .frame2036095751 {
            display: inline-flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            column-gap: 1px;
            margin-right: 42px;

            .text17 {
              flex-shrink: 0;
              line-height: 21px;
              letter-spacing: 0;
              color: #000000;
              font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 14px;
              font-weight: 500;

              .text15 {
                line-height: 21px;
                letter-spacing: 0;
                color: var(--white-color, #ffffff);
                font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 14px;
                font-weight: 500;
              }

              .text16 {
                line-height: 21px;
                letter-spacing: 0;
                color: var(--main-color, #ffdfbf);
                font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 14px;
                font-weight: 500;
              }
            }

            .frame2036094475 {
              display: inline-flex;
              flex-shrink: 0;
              align-items: center;
              column-gap: 2px;

              .frame36 {
                flex-shrink: 0;
                width: 10px;
                height: 10px;
                overflow: hidden;
              }

              .text18 {
                flex-shrink: 0;
                line-height: 17px;
                letter-spacing: 0;
                color: var(--white-color, #ffffff);
                font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 12px;
              }
            }
          }

          .frame2036095759 {
            display: inline-flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            column-gap: 2px;
            margin-right: 123px;

            .frame20360957812 {
              display: inline-flex;
              flex-shrink: 0;
              align-items: center;
            }
          }
        }
      }

      .frame2036095757 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        border-radius: 8px;
        background: #9ab0f40f;
        padding: 10px;

        .frame2036095755 {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          align-items: flex-start;
          row-gap: 4px;

          .frame2036095754 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            column-gap: 5px;

            .text21 {
              flex-shrink: 0;
              line-height: 17px;
              letter-spacing: 0;
              color: #ffffff;
              font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 12px;
              font-weight: 500;
            }

            .frame1312333259 {
              display: inline-flex;
              flex-shrink: 0;
              align-items: center;
              column-gap: 4px;
              border-radius: 4px;
              background: #9ab0f426;
              padding: 1px 8px;

              .kStz1036 {
                flex-shrink: 0;
                opacity: 0.8;
                line-height: 14px;
                letter-spacing: 0;
                color: #ffdfbf;
                font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 10px;
              }

              .frame37 {
                display: inline-flex;
                flex-shrink: 0;
                align-items: center;
                column-gap: 2px;
                opacity: 0.8;
              }
            }
          }

          .frame2036095780 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            column-gap: 1px;

            .text22 {
              flex-shrink: 0;
              opacity: 0.8;
              line-height: 17px;
              letter-spacing: 0;
              color: #ffffff;
              font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 12px;
            }
          }
        }

        .frame38 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          border-radius: 18px;
          background: var(--button);
          width: 64px;
          height: 32px;
          background-image: linear-gradient(
            89.12deg,
            #ffe8be 0.36%,
            #fecfa4 101.99%
          );

          .text23 {
            flex-shrink: 0;
            line-height: 14px;
            letter-spacing: 0;
            color: var(--button-text, #571818);
            font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 12px;
            font-weight: 500;
          }
        }
      }

      .frame1312318723 {
        display: inline-flex;
        position: absolute;
        top: -1px;
        right: 0;
        flex-shrink: 0;
        align-items: center;
        column-gap: 2px;
        border-radius: 0px 6px 0px 4px;
        background: var(--Linear);
        padding: 3px 8px;
        width: 117px;
        height: 26px;
        background-image: linear-gradient(257.47deg, #44445a 0%, #242528 100%);
      }
    }

    .frame2036095794 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      column-gap: 10px;
      margin-right: 12px;
      margin-left: 12px;

      .frame2036095770 {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        column-gap: 2px;
      }

      .text26 {
        flex-shrink: 0;
        line-height: 20px;
        letter-spacing: 0;
        color: #000000;
        font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 13px;
        font-weight: 500;

        .text24 {
          line-height: 20px;
          letter-spacing: 0;
          color: var(--white-color, #ffffff);
          font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 13px;
          font-weight: 500;
        }

        .text25 {
          line-height: 20px;
          letter-spacing: 0;
          color: var(--main-color, #ffdfbf);
          font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 13px;
          font-weight: 500;
        }
      }

      .frame20360957522 {
        display: inline-flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        border-radius: 8px;
        background: var(--partbg-color, #141522);
        padding: 8px 16px 12px;
        row-gap: 4px;

        .frame20360957592 {
          display: inline-flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          column-gap: 4px;
          margin-right: 24px;
        }
      }

      .frame20360957523 {
        display: inline-flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        border-radius: 8px;
        background: var(--partbg-color, #141522);
        padding: 8px 12px 12px;
        row-gap: 4px;

        .frame20360957593 {
          display: inline-flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          column-gap: 4px;
          margin-right: 32px;
        }
      }

      .frame20360957524 {
        display: inline-flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        border-radius: 8px;
        background: var(--partbg-color, #141522);
        padding: 8px 7px 12px;
        row-gap: 4px;

        .frame20360957594 {
          display: inline-flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          column-gap: 4px;
          margin-right: 42px;
        }
      }
    }
  }
}
