* {
  box-sizing: border-box;
}

.frame2147224469 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #ffffff;
  padding: 10px;
  width: 414px;
  height: 868px;
  row-gap: 67px;

  .frame3 {
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    overflow: hidden;
  }

  .a2330 {
    flex-shrink: 0;
    line-height: 14px;
    letter-spacing: 0;
    color: var(--highlight-color, #ff5477);
    font-family: "Alte DIN 1451 Mittelschrift", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 12px;
  }

  .instance {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    padding: 5px 0px 4px 2px;
    width: 40px;
    overflow: hidden;

    .frame10 {
      position: relative;
      width: 40px;
      height: 31px;

      .frame9 {
        position: absolute;
        top: 0;
        left: 0;
        width: 29px;
        height: 31px;
      }

      .commonBaseCommentsma {
        position: absolute;
        top: 8px;
        left: 18px;
        width: 22px;
        height: 22px;
        overflow: hidden;
      }
    }
  }

  .frame15 {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    align-self: stretch;
    column-gap: 10px;
    margin-right: 36px;
    border-radius: 8px;
    row-gap: 10px;

    .a120000 {
      flex-shrink: 0;
      opacity: 0.6;
      line-height: 14px;
      letter-spacing: 0;
      color: var(--main-color, #001a4f);
      font-family: "Alte DIN 1451 Mittelschrift", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 12px;
    }

    .text {
      flex-shrink: 0;
      line-height: 20px;
      letter-spacing: 0;
      color: var(--main-color, #001a4f);
      font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 14px;
      font-weight: 500;
    }

    .frame4 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      opacity: 0.7;
      border-radius: 12px;
      background: #c8dfff;
      padding-right: 32px;

      .rectangle596 {
        border-radius: 12px;
        width: 118px;
        height: 6px;
        background-image: linear-gradient(
          89.91deg,
          #4b6eff 0%,
          #8c88ff 102.38%
        );
      }
    }

    .frame7 {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: flex-start;
      row-gap: 2px;

      .frame6 {
        display: inline-flex;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        margin-right: 79px;
      }
    }

    .frame5 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      justify-content: center;
      border-radius: 8px;
      background: var(--substrate-color, #4091ff1a);
      padding: 12px;
      overflow: hidden;
      row-gap: 4px;

      .frame2036088452 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        column-gap: 4px;

        .frame2 {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          align-items: flex-start;
          row-gap: 2px;

          .frame {
            display: inline-flex;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            margin-right: 45px;
          }
        }
      }
    }

    .frame8 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      justify-content: center;
      border-radius: 8px;
      background: var(--substrate-color, #4091ff1a);
      padding: 12px;
      overflow: hidden;
      row-gap: 4px;

      .frame20360884522 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        column-gap: 4px;
      }
    }

    .frame11 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      justify-content: center;
      border-radius: 8px;
      background: var(--substrate-color, #4091ff1a);
      padding: 12px;
      overflow: hidden;
      row-gap: 4px;

      .frame20360884523 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        column-gap: 4px;
      }
    }

    .frame14 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      border-radius: 8px;
      background: var(--substrate-color, #4091ff1a);
      padding: 12px;
      overflow: hidden;
      row-gap: 4px;

      .frame20360884524 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        column-gap: 4px;

        .frame13 {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          align-items: flex-start;
          row-gap: 2px;

          .frame12 {
            display: inline-flex;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            margin-right: 66px;
          }
        }
      }
    }
  }

  .frame21 {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    align-self: stretch;
    column-gap: 10px;
    margin-right: 36px;
    border-radius: 8px;
    row-gap: 10px;

    .frame2036088505 {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: flex-start;
      justify-content: center;
      row-gap: 4px;

      .frame17 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        column-gap: 2px;

        .text2 {
          flex-grow: 1;
          letter-spacing: 0;
          color: var(--main-color, #001a4f);
          font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
          font-weight: 500;
        }

        .frame16 {
          display: inline-flex;
          flex-shrink: 0;
          align-items: flex-start;

          .a23302 {
            flex-shrink: 0;
            line-height: 16px;
            letter-spacing: 0;
            color: var(--highlight-color, #ff5477);
            font-family: "Alte DIN 1451 Mittelschrift", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
          }

          .a12000 {
            flex-shrink: 0;
            opacity: 0.6;
            line-height: 16px;
            letter-spacing: 0;
            color: var(--main-color, #001a4f);
            font-family: "Alte DIN 1451 Mittelschrift", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
          }
        }
      }

      .frame18 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        opacity: 0.7;
        border-radius: 12px;
        background: #c8dfff;
        padding-right: 32px;

        .rectangle5962 {
          border-radius: 12px;
          width: 238px;
          height: 6px;
          background-image: linear-gradient(
            89.96deg,
            #4b6eff 0%,
            #8c88ff 102.38%
          );
        }
      }
    }

    .frame19 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      column-gap: 16px;
      border-radius: 8px;
      background: var(--substrate-color, #4091ff1a);
      padding: 16px;
      width: 358px;
      overflow: hidden;
    }

    .frame20 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      column-gap: 16px;
      border-radius: 8px;
      background: var(--substrate-color, #4091ff1a);
      padding: 16px;
      width: 358px;
      overflow: hidden;
    }
  }

  .rankList {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;

    .avatar88 {
      border: 1px solid var(--stroke-main-color, #ffd7b2);
      border-radius: 50%;
      width: 60px;
      height: 60px;
      background-image: url(../image/meuu1jwq-bi7tqgz.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .frame23 {
      position: absolute;
      top: 56px;
      left: 28px;
      width: 16px;
      height: 16px;
      overflow: hidden;
    }

    .instance5 {
      display: inline-flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      column-gap: 8px;
      padding-left: 12px;

      .frame26 {
        display: inline-flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: center;
        min-width: 40px;
        max-width: 52px;
        row-gap: 4px;

        .text6 {
          flex-shrink: 0;
          line-height: 24px;
          letter-spacing: 0;
          color: var(--highlight-color, #ff5477);
          font-family: "Alte DIN 1451 Mittelschrift", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 12px;
        }
      }
    }

    .instance4 {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: flex-start;
      justify-content: center;
      row-gap: 4px;

      .text4 {
        flex-shrink: 0;
        line-height: 24px;
        letter-spacing: 0;
        color: var(--main-color, #32296b);
        font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 500;
      }

      .frame24 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
      }
    }

    .instance6 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      padding: 4px 20px 4px 14px;
      width: 414px;

      .text5 {
        flex-shrink: 0;
        opacity: 0.6;
        line-height: 18px;
        letter-spacing: 0;
        color: var(--main-color, #32296b);
        font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 12px;
      }

      .frame25 {
        display: flex;
        flex-grow: 1;
        align-items: center;
        align-self: stretch;
        column-gap: 6px;

        .instance3 {
          position: relative;
          flex-shrink: 0;
          width: 72px;
          height: 72px;

          .frame22 {
            display: flex;
            position: absolute;
            top: 6px;
            left: 6px;
            align-items: center;
            width: 60px;
            height: 60px;
            background-image: url(../image/meuu1jwq-fjaqlhs.svg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;

            .instance2 {
              display: flex;
              flex-grow: 1;
              align-items: flex-start;
              border: 1px solid var(--stroke-main-color, #ffd7b2);
              border-radius: 50%;
              padding: 0px 8px 46px;
              background-image: url(../image/meuu1jwq-bi7tqgz.png);
              background-position: center;
              background-size: cover;
              background-repeat: no-repeat;

              .intersect {
                display: flex;
                flex-grow: 1;
                align-items: center;
                margin-top: -1px;
                padding-right: 10px;
                padding-left: 10px;
                background-image: url(../image/meuu1jwq-7xn3q0w.svg);
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;

                .text3 {
                  padding: 3px 0px 1px;
                  width: 22px;
                  height: 13px;
                  text-align: center;
                  line-height: 9px;
                  letter-spacing: 0;
                  color: #ffebcc;
                  font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                  font-size: 7px;
                }
              }
            }
          }
        }
      }
    }

    .instance8 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      padding: 4px 20px 4px 14px;
      width: 414px;

      .frame28 {
        display: flex;
        flex-grow: 1;
        align-items: center;
        align-self: stretch;
        column-gap: 6px;

        .instance7 {
          position: relative;
          flex-shrink: 0;
          width: 72px;
          height: 72px;

          .frame27 {
            display: flex;
            position: absolute;
            top: 6px;
            left: 6px;
            align-items: center;
            width: 60px;
            height: 60px;
            background-image: url(../image/meuu1jwq-mv7po55.svg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
          }
        }
      }
    }

    .instance10 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      padding: 4px 20px 4px 14px;
      width: 414px;

      .frame30 {
        display: flex;
        flex-grow: 1;
        align-items: center;
        align-self: stretch;
        column-gap: 6px;

        .instance9 {
          position: relative;
          flex-shrink: 0;
          width: 72px;
          height: 72px;

          .frame29 {
            display: flex;
            position: absolute;
            top: 6px;
            left: 6px;
            align-items: center;
            width: 60px;
            height: 60px;
            background-image: url(../image/meuu1jwq-zikcp6a.svg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
          }
        }
      }
    }

    .instance12 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      padding: 4px 20px 4px 14px;
      width: 414px;

      .frame32 {
        display: flex;
        flex-grow: 1;
        align-items: center;
        align-self: stretch;
        column-gap: 6px;

        .instance11 {
          position: relative;
          flex-shrink: 0;
          width: 72px;
          height: 72px;

          .frame31 {
            display: flex;
            position: absolute;
            top: 6px;
            left: 6px;
            align-items: center;
            width: 60px;
            height: 60px;
            background-image: url(../image/meuu1jwq-weiu094.svg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
          }
        }
      }
    }
  }
}
